body {
  font-family: "Arial", sans-serif;
  min-width: 320px;
  background: #fff;
  margin: 0;
  padding: 0;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
h1 {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #6d6c71;
}
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
}
button {
  background-color: #f26e21;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
button:hover {
  background-color: #f26e21;
}
#status {
  margin-top: 15px;
  padding: 8px;
  border-radius: 4px;
  display: none;
  font-size: 14px;
}
.success {
  background-color: #dff0d8;
  color: #3c763d;
  display: block;
}
.error {
  background-color: #f2dede;
  color: #a94442;
  display: block;
}
.info {
  background-color: #d9edf7;
  color: #31708f;
  display: block;
}
#successCount {
  margin-top: 18px;
  color: #6d6c71;
  font-size: 15px;
  text-align: right;
}
.success-number {
  color: #f26e21;
  font-weight: bold;
  font-size: 18px;
}
#splash {
  border: 5px solid #f26e21;
  font-weight: bold;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  min-width: 320px;
  height: 240.3px;
}
#splash-logo {
  width: 96px;
  height: 96px;
  margin-bottom: 32px;
}
#splash-title {
  color: #f26e21;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0;
}
#splash-logo,
#splash-title {
  opacity: 0;
  animation: fadeInSplash 1s ease-in-out forwards;
}
@keyframes fadeInSplash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
